<nav>
  <a href="/">Home</a> |
  <a href="/profile/">Profile</a> |
  <a href="/settings/">Settings</a> |
  <a href="/privacy/">You Don't Have Privacy</a>
  <a href="/friends/">Friends</a>
</nav>
<br>
<h1 style="background-color:DodgerBlue; color:white">Hello, <%= current_user.full_name %>!</h1>
<img src=<%= asset_path("jumpmat.png") %> >
<p style="background-color:MediumSeaGreen; color:yellow">How's it going?</p>
