<nav>
  <a href="/">Home</a> |
  <a href="/profile/">Profile</a> |
  <a href="/settings/">Settings</a> |
  <a href="/privacy/">You Don't Have Privacy</a>
</nav>
<br>
<h1>Hello, <%= current_user.full_name %>!</h1>